<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Sweatropia</h1>
		<p>Entropia's premier destination for buying and selling sweat</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a></p>
	</div>
</div>