<div class="jumbotron">
	<div class="container">
		<div class="row">
		  <div class="col-md-8 col-md-offset-2">
				<h1>Welcome to Sweatropia</h1>
				<h2>Entropia's premier destination for buying and selling sweat<h2>
				<div class="btn-group col-md-offset-4">
					<a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
					<a class="btn btn-default btn-lg" href="#" role="button">Sign In</a>
				</div>
			</div>
		</div>
	</div>
</div>