// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Sweat-icon-large {
	height: 250px;
	width: 250px;
	border-radius: 100%;
	background-color: gray;
	margin-top: 75px;
	margin-bottom: 25px;
}

#Buy-icon {
	text-align: center;
	height: 150px;
	border-radius: 25px;
}

#Sell-icon {
	text-align: center;
	height: 150px;
	border-radius: 25px;
}