// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#how-it-works-1 {
}

#how-picture-1 {
	width: 150px;
	height: 150px;
	margin: auto;
	background-color: grey;
	border-radius: 50%;
}

#how-it-works-2 {
}

#how-picture-2 {
	width: 150px;
	height: 150px;
	margin: auto;
	background-color: grey;
	border-radius: 50%;
}

#how-it-works-3 {
}

#how-picture-3 {
	width: 150px;
	height: 150px;
	margin: auto;
	background-color: grey;
	border-radius: 50%;
}
